<html>
<head>


</head>
<body>
  <div>
        <h2>re writing Angular</h2>
  </div>
  <form>
    age:<input ng-model="age" />
    age:<input ng-model="age" />
    gender:<input ng-model="gender" />
  </form>

  <br />
  Age: <span ng-bind="age * 2">

  </span>
  <br />
  Gender: <span ng-bind="gender">

  </span>
  <hr />
  <div>
    <span ng-show="age<18">is  a minor</span><span ng-show="age>18">is an adult</span>
  </div>
  <hr />
  <div> ng-repeat
    <ul>
      <li ng-repeat="item in items">

      </li>
    </ul>
  </div>
  <div> ng-if:
    <p ng-if="gender == 'cat'">
      this is a cat
    </p>
  </div>
</body>
<script src="angularJS.js"></script>
<script src="index.js"></script>
</html>
